# Regression 1
다음의 항목들에 대해서 학습합니다.

* 선형회귀(Linear Regression)
* 회귀모델 평가

## 00 환경준비

### 1) Import

In [1]:
#라이브러리들을 불러오자.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

### 2) data loading

In [2]:
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/boston.csv'
data = pd.read_csv(path)

|	변수	|	설명	|
|	----	|	----	|
|	medv	|	타운별 집값(중위수)	|
|	crim	|	범죄율	|
|	zn	|	25,000 평방피트를 초과 거주지역 비율	|
|	indus	|	비소매상업지역 면적 비율	|
|	chas	|	찰스강변 위치(범주 : 강변1, 아니면 0)	|
|	nox	|	일산화질소 농도	|
|	rm	|	주택당 방 수	|
|	age	|	1940년 이전에 건축된 주택의 비율	|
|	dis	|	직업센터의 거리	|
|	rad	|	방사형 고속도로까지의 거리	|
|	tax	|	재산세율	|
|	ptratio	|	학생/교사 비율	|
|	black	|	인구 중 흑인 비율	|
|	lstat	|	인구 중 하위 계층 비율	|

## 10.데이터 이해

### 1)둘러보기

In [3]:
# 상/하위 몇개 행을 살펴 봅시다.
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [4]:
# 각 칼럼의 타입을 살펴 봅시다.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  lstat    506 non-null    float64
 12  medv     506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

## 20.데이터 준비

### 1) 데이터 준비

In [5]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [6]:
target = 'medv'
x = data.drop(target, axis=1)
y = data.loc[:, target]
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=.2
                                                  , random_state = 2022)

### 2) 변수정리

### 3) NA 조치

### 4) 가변수화

### 5) Scaling

## 30.모델링1 : 단순회귀

* lstat(하위계층 비율)로만 집값(medv)을 예측하는 모델을 만들어 봅시다.

In [7]:
# 학습에 사용할 변수를 지정합니다.
features = ['lstat']

# 지정된 변수로 데이터셋을 만듭니다. 
# 학습과 검증시 아래 데이이터셋 이름을 사용합니다.
x_train1 = x_train[features]
x_val1 = x_val[features]

In [8]:
x_train1.head()

     lstat
256   3.11
288   7.60
318  10.36
136  16.90
233   3.95

### 1)import

In [9]:
# 모델링용
from sklearn.linear_model import LinearRegression

# 회귀모델 평가용
from sklearn.metrics import mean_squared_error, mean_absolute_error

### 2) 모델선언

In [ ]:
model1 =

### 3) 모델링(학습)

In [ ]:
model.

* 회귀계수 확인하기

In [ ]:
print('회귀계수 : ', model.coef_)
print('절편 : ', model.intercept_)

### 4) 검증 : 예측

In [ ]:
pred1 = model1.

### 5) 검증 : 평가

In [ ]:
# MSE
mean_squared_error( , )

In [ ]:
# RMSE
mean_squared_error( , , squared=False)

In [ ]:
# MAE
mean_absolute_error( ,  )

## 40.모델링2 : 다중회귀

* 이번에는 다음의 변수로 예측하는 모델을 각각 만들어 봅시다.
    * model2 : lstat + ptratio 
    * model3 : lstat + ptratio + crim
    * model4 : 전체 변수

In [ ]:
# 학습에 사용할 변수를 지정합니다.
features = [    ]

# 지정된 변수로 데이터셋을 만듭니다. 
# 학습과 검증시 아래 데이이터셋 이름을 사용합니다.
x_train2 = x_train[features]
x_val2 = x_val[features]

In [ ]:
# 학습에 사용할 변수를 지정합니다.
features3 = [   ]

# 지정된 변수로 데이터셋을 만듭니다. 
# 학습과 검증시 아래 데이이터셋 이름을 사용합니다.
x_train3 = x_train[features3]
x_val3 = x_val[features3]

### 1)import

In [ ]:
# 이미 불러 왔으므로 여기서는 생략합니다.

### 2) 모델선언

### 3) 모델링(학습)

* model3에 대해서 회귀계수를 확인하고, 선형회귀식을 적어 봅시다.

### 4) 검증 : 예측

### 5) 검증 : 평가
지금까지 모델 4개에 대해서 성능 비교를 해 봅시다.

## 50. 추가분석

* 예측한 결과와 요약된 평가로 모델을 다 설명할 수는 없습니다.
* 실제값과 예측값을 비교하는 그래프를 그려봅시다.

In [ ]:
plt.scatter(y_val, pred1)

x = np.linspace(y_val.min(), y_val.max(), 10)
plt.plot(x, x, color = 'r')

plt.xlabel('Actual')
plt.ylabel('Predicted')
plt.grid()
plt.show()

In [ ]:
plt.scatter(y_val, pred4)

x = np.linspace(y_val.min(), y_val.max(), 10)
plt.plot(x, x, color = 'r')

plt.xlabel('Actual')
plt.ylabel('Predicted')
plt.grid()
plt.show()