# Classification : LogisticRegression

## 00 환경준비

### 1) Import

In [1]:
#라이브러리들을 불러오자.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

### 2) data loading

In [2]:
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/credit_all.csv'
data = pd.read_csv(path)
data.drop(['Purpose','MostValuableAsset','CreditCount','Occupation','Telephone'], axis = 1, inplace = True)
data.head()

,Creditability,AccountBalance,Duration,Payment,CreditAmount,Employment,SexMarital,CurrentAddress,Age,Apartment,Dependents,ForeignWorker
0,1,3,24,2,1249,2,4,2,28,2,1,1
1,1,2,9,2,276,3,4,4,22,1,1,1
2,1,1,18,4,1049,2,2,4,21,1,1,1
3,1,1,24,4,6419,5,2,4,44,3,2,1
4,1,3,12,2,1424,5,2,4,55,2,1,1

|	칼럼명	|	설명	|		|	값 설명	|
|	----	|	----	|	----	|	----	|
|	**Creditability**	|	Creditability	|	신용도	|	0 : 낮은 신용도, 1 : 높은 신용도, **Target**	|
|	AccountBalance	|	Account Balance	|	은행잔고	|	1: No account, 2 : None (No balance), 3 : Some Balance	|
|	CreditDuration	|	Duration of Credit (month)	|	 신청한 대출기간(월)	|	숫자	|
|	Payment	|	Payment Status of Previous Credit	|	과거 대출 납입 상태	|	0 : Delayed, 1 : Other Credits, 2 : Paid Up, 3 : No Problem with Current Credits, 4 : Previous Credits Paid	|
|	CreditAmount	|	Credit Amount($)	|	신청한 대출금액	|	숫자	|
|	Employment	|	Length of current employment(Month)	|	현 직업 근무 기간	|	1: Unemployed, 2: <1 Year, 3: [1, 4), 4: [4, 7), 5: Above 7	|
|	SexMarital	|	Sex & Marital Status	|	성별 & 결혼상태	|	1: Male, Divorced, 2: Male, Single, 3: Male, Married/Widowed, 4: Female	|
|	CurrentAddress	|	Duration in Current address	|	현 거주지 거주기간	|	1: <1 Year , 2: [1, 4), 3: [4, 7), 4: Above 7	|
|	Age	|	Age (years)	|	나이	|	숫자	|
|	Appartment	|	Type of apartment	|	주거환경	|	1: free apartment, 2: Rented, 3: Owned	|
|	Occupation	|	Occupation	|	직업	|	1: Unemployed, unskilled, 2: Unskilled Permanent Resident, 3: Skilled, 4: Executive	|
|	Telephone	|	Telephone	|	전화기 소유 여부	|	1: No, 2: Yes 	|
|	ForeignWorker	|	Foreign Worker	|	외국인 근로자 여부	|	1: No, 2: Yes	|

## 10.데이터 이해

### 1)둘러보기

In [3]:
# 상/하위 몇개 행을 살펴 봅시다.
data.head()

,Creditability,AccountBalance,Duration,Payment,CreditAmount,Employment,SexMarital,CurrentAddress,Age,Apartment,Dependents,ForeignWorker
0,1,3,24,2,1249,2,4,2,28,2,1,1
1,1,2,9,2,276,3,4,4,22,1,1,1
2,1,1,18,4,1049,2,2,4,21,1,1,1
3,1,1,24,4,6419,5,2,4,44,3,2,1
4,1,3,12,2,1424,5,2,4,55,2,1,1

In [4]:
# 각 칼럼의 타입을 살펴 봅시다.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Creditability   1000 non-null   int64
 1   AccountBalance  1000 non-null   int64
 2   Duration        1000 non-null   int64
 3   Payment         1000 non-null   int64
 4   CreditAmount    1000 non-null   int64
 5   Employment      1000 non-null   int64
 6   SexMarital      1000 non-null   int64
 7   CurrentAddress  1000 non-null   int64
 8   Age             1000 non-null   int64
 9   Apartment       1000 non-null   int64
 10  Dependents      1000 non-null   int64
 11  ForeignWorker   1000 non-null   int64
dtypes: int64(12)
memory usage: 93.9 KB

### 2) EDA & CDA
여기에서는 다루지 않습니다.

## 20.데이터 준비

### 1) 데이터분할 : x, y 나누기

In [5]:
target = 'Creditability'
x = data.drop(target, axis = 1)
y = data.loc[:, target]

### 2) 변수정리
불필요한 변수가 있으면 제거합니다.

### 3) NA 조치

In [6]:
x.isna().sum()

AccountBalance    0
Duration          0
Payment           0
CreditAmount      0
Employment        0
SexMarital        0
CurrentAddress    0
Age               0
Apartment         0
Dependents        0
ForeignWorker     0
dtype: int64

### 4) 가변수화

가변수화를 수행하시오.

In [7]:
cat_cols = ['AccountBalance','Payment','Employment','SexMarital','CurrentAddress','Apartment','Dependents','ForeignWorker']
x = pd.get_dummies(x, columns = cat_cols, drop_first = True)
x.head()

,Duration,CreditAmount,Age,AccountBalance_2,AccountBalance_3,Payment_1,Payment_2,Payment_3,Payment_4,Employment_2,...,SexMarital_2,SexMarital_3,SexMarital_4,CurrentAddress_2,CurrentAddress_3,CurrentAddress_4,Apartment_2,Apartment_3,Dependents_2,ForeignWorker_2
0,24,1249,28,0,1,0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,0
1,9,276,22,1,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,18,1049,21,0,0,0,0,0,1,1,...,1,0,0,0,0,1,0,0,0,0
3,24,6419,44,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,1,0
4,12,1424,55,0,1,0,1,0,0,0,...,1,0,0,0,0,1,1,0,0,0

### 5) 데이터분할 : train : validation

In [8]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size = .3)

### 6) Scaling

## 30.모델링

### 1) 필요한 함수 불러오기

In [9]:
# 모델링을 위해
from sklearn.linear_model import LogisticRegression

# 평가를 위해.
from sklearn.metrics import *

### 2) 선언

In [10]:
model = LogisticRegression()

### 3) 모델링(학습)

In [11]:
model.fit(x_train, y_train)

LogisticRegression()

* 모델의 coeficient, intercept 확인

In [12]:
model.coef_

array([[-3.73457217e-02, -4.31213950e-06,  1.88702274e-03,
         1.24026042e-01,  1.52269055e+00, -4.48729776e-01,
         1.99061278e-01, -3.88781841e-02,  7.05560688e-01,
        -3.65077101e-01,  2.24616491e-02,  6.77327950e-01,
        -2.99260826e-02, -5.05028400e-02,  3.67949818e-01,
         1.98048690e-01, -3.27024515e-01,  1.15739732e-02,
         3.52081615e-01,  4.06388389e-01, -2.60830014e-02,
         1.47959447e-02,  1.80160082e-01]])

In [13]:
list(x_train)

['Duration',
 'CreditAmount',
 'Age',
 'AccountBalance_2',
 'AccountBalance_3',
 'Payment_1',
 'Payment_2',
 'Payment_3',
 'Payment_4',
 'Employment_2',
 'Employment_3',
 'Employment_4',
 'Employment_5',
 'SexMarital_2',
 'SexMarital_3',
 'SexMarital_4',
 'CurrentAddress_2',
 'CurrentAddress_3',
 'CurrentAddress_4',
 'Apartment_2',
 'Apartment_3',
 'Dependents_2',
 'ForeignWorker_2']

In [14]:
model.intercept_

array([0.29029292])

### 4) 검증 : 예측

In [15]:
pred = model.predict(x_val)
pred[:5]

array([0, 1, 1, 0, 1])

In [16]:
# 확률값으로 예측값을 저장하고 싶다면...
pred_prob = model.predict_proba(x_val)
pred_prob

array([[0.53778096, 0.46221904],
       [0.12161976, 0.87838024],
       [0.19743578, 0.80256422],
       [0.64823043, 0.35176957],
       [0.09682389, 0.90317611],
       [0.18118737, 0.81881263],
       [0.47469524, 0.52530476],
       [0.06463323, 0.93536677],
       [0.06189442, 0.93810558],
       [0.82117553, 0.17882447],
       [0.20912946, 0.79087054],
       [0.6084938 , 0.3915062 ],
       [0.07382243, 0.92617757],
       [0.0559035 , 0.9440965 ],
       [0.38877698, 0.61122302],
       [0.75354302, 0.24645698],
       [0.15521385, 0.84478615],
       [0.61404182, 0.38595818],
       [0.15271438, 0.84728562],
       [0.03690082, 0.96309918],
       [0.13657294, 0.86342706],
       [0.07830425, 0.92169575],
       [0.06048993, 0.93951007],
       [0.18814454, 0.81185546],
       [0.28296879, 0.71703121],
       [0.1392285 , 0.8607715 ],
       [0.01967367, 0.98032633],
       [0.37780704, 0.62219296],
       [0.20530802, 0.79469198],
       [0.34412027, 0.65587973],
       [0.57567882, 0.42432118],
       [0.48743804, 0.51256196],
       [0.44799793, 0.55200207],
       [0.18111536, 0.81888464],
       [0.46198467, 0.53801533],
       [0.09246719, 0.90753281],
       [0.16191783, 0.83808217],
       [0.0474167 , 0.9525833 ],
       [0.05542439, 0.94457561],
       [0.59354791, 0.40645209],
       [0.05557861, 0.94442139],
       [0.64593564, 0.35406436],
       [0.26947557, 0.73052443],
       [0.33258006, 0.66741994],
       [0.05606231, 0.94393769],
       [0.26849339, 0.73150661],
       [0.10151049, 0.89848951],
       [0.36238675, 0.63761325],
       [0.53146699, 0.46853301],
       [0.53797034, 0.46202966],
       [0.5886804 , 0.4113196 ],
       [0.05482426, 0.94517574],
       [0.13133674, 0.86866326],
       [0.49138944, 0.50861056],
       [0.14213248, 0.85786752],
       [0.09718201, 0.90281799],
       [0.50270874, 0.49729126],
       [0.12261309, 0.87738691],
       [0.39007802, 0.60992198],
       [0.05693205, 0.94306795],
       [0.06855093, 0.93144907],
       [0.5249825 , 0.4750175 ],
       [0.17950484, 0.82049516],
       [0.20746484, 0.79253516],
       [0.37300969, 0.62699031],
       [0.31434233, 0.68565767],
       [0.39708121, 0.60291879],
       [0.48615865, 0.51384135],
       [0.23497091, 0.76502909],
       [0.54798411, 0.45201589],
       [0.08665729, 0.91334271],
       [0.13066149, 0.86933851],
       [0.60634574, 0.39365426],
       [0.67891469, 0.32108531],
       [0.55200054, 0.44799946],
       [0.33980241, 0.66019759],
       [0.09250908, 0.90749092],
       [0.46869886, 0.53130114],
       [0.0710042 , 0.9289958 ],
       [0.03566424, 0.96433576],
       [0.20495453, 0.79504547],
       [0.56172302, 0.43827698],
       [0.09114431, 0.90885569],
       [0.08776396, 0.91223604],
       [0.66125626, 0.33874374],
       [0.08699597, 0.91300403],
       [0.13846411, 0.86153589],
       [0.05299951, 0.94700049],
       [0.09612928, 0.90387072],
       [0.36932773, 0.63067227],
       [0.27711074, 0.72288926],
       [0.1448933 , 0.8551067 ],
       [0.17975932, 0.82024068],
       [0.11011535, 0.88988465],
       [0.23695974, 0.76304026],
       [0.03560385, 0.96439615],
       [0.1903063 , 0.8096937 ],
       [0.06750193, 0.93249807],
       [0.0826702 , 0.9173298 ],
       [0.71575678, 0.28424322],
       [0.08677821, 0.91322179],
       [0.11236147, 0.88763853],
       [0.39678679, 0.60321321],
       [0.23966267, 0.76033733],
       [0.0460658 , 0.9539342 ],
       [0.45713658, 0.54286342],
       [0.66858266, 0.33141734],
       [0.77251401, 0.22748599],
       [0.16505634, 0.83494366],
       [0.4450399 , 0.5549601 ],
       [0.06805235, 0.93194765],
       [0.45876002, 0.54123998],
       [0.51829578, 0.48170422],
       [0.33233654, 0.66766346],
       [0.41082888, 0.58917112],
       [0.20202237, 0.79797763],
       [0.32815356, 0.67184644],
       [0.5869584 , 0.4130416 ],
       [0.24342321, 0.75657679],
       [0.43006984, 0.56993016],
       [0.34554881, 0.65445119],
       [0.04640658, 0.95359342],
       [0.33221122, 0.66778878],
       [0.10760557, 0.89239443],
       [0.33889493, 0.66110507],
       [0.32189412, 0.67810588],
       [0.84258045, 0.15741955],
       [0.03166813, 0.96833187],
       [0.50324635, 0.49675365],
       [0.21691286, 0.78308714],
       [0.52413449, 0.47586551],
       [0.13328769, 0.86671231],
       [0.06010391, 0.93989609],
       [0.10704993, 0.89295007],
       [0.30907784, 0.69092216],
       [0.65047497, 0.34952503],
       [0.09892207, 0.90107793],
       [0.70241255, 0.29758745],
       [0.20457512, 0.79542488],
       [0.72040677, 0.27959323],
       [0.09184569, 0.90815431],
       [0.12209375, 0.87790625],
       [0.09303041, 0.90696959],
       [0.40578803, 0.59421197],
       [0.26584859, 0.73415141],
       [0.04419579, 0.95580421],
       [0.07721754, 0.92278246],
       [0.51708412, 0.48291588],
       [0.53452523, 0.46547477],
       [0.09490834, 0.90509166],
       [0.12293334, 0.87706666],
       [0.57462924, 0.42537076],
       [0.04598244, 0.95401756],
       [0.39764884, 0.60235116],
       [0.41148401, 0.58851599],
       [0.04606399, 0.95393601],
       [0.11153084, 0.88846916],
       [0.14736413, 0.85263587],
       [0.24572397, 0.75427603],
       [0.06130497, 0.93869503],
       [0.27908424, 0.72091576],
       [0.66738641, 0.33261359],
       [0.33584677, 0.66415323],
       [0.66543973, 0.33456027],
       [0.461903  , 0.538097  ],
       [0.34823484, 0.65176516],
       [0.14461585, 0.85538415],
       [0.24209186, 0.75790814],
       [0.08591556, 0.91408444],
       [0.50615821, 0.49384179],
       [0.37762755, 0.62237245],
       [0.6253357 , 0.3746643 ],
       [0.19789317, 0.80210683],
       [0.22886004, 0.77113996],
       [0.04667406, 0.95332594],
       [0.29207639, 0.70792361],
       [0.22405288, 0.77594712],
       [0.09946113, 0.90053887],
       [0.33748594, 0.66251406],
       [0.40706672, 0.59293328],
       [0.52444709, 0.47555291],
       [0.12956992, 0.87043008],
       [0.38693913, 0.61306087],
       [0.24003608, 0.75996392],
       [0.05240805, 0.94759195],
       [0.5992204 , 0.4007796 ],
       [0.42351564, 0.57648436],
       [0.14135725, 0.85864275],
       [0.13886469, 0.86113531],
       [0.40179481, 0.59820519],
       [0.29671126, 0.70328874],
       [0.60658711, 0.39341289],
       [0.4251275 , 0.5748725 ],
       [0.24548162, 0.75451838],
       [0.55157022, 0.44842978],
       [0.32650595, 0.67349405],
       [0.53977028, 0.46022972],
       [0.45754553, 0.54245447],
       [0.51040826, 0.48959174],
       [0.65285075, 0.34714925],
       [0.12496647, 0.87503353],
       [0.21014547, 0.78985453],
       [0.07491094, 0.92508906],
       [0.18369161, 0.81630839],
       [0.04777556, 0.95222444],
       [0.6591224 , 0.3408776 ],
       [0.09154782, 0.90845218],
       [0.4981585 , 0.5018415 ],
       [0.24676667, 0.75323333],
       [0.48298836, 0.51701164],
       [0.05964377, 0.94035623],
       [0.14948859, 0.85051141],
       [0.50225837, 0.49774163],
       [0.26666039, 0.73333961],
       [0.29482282, 0.70517718],
       [0.64044232, 0.35955768],
       [0.15442876, 0.84557124],
       [0.46235659, 0.53764341],
       [0.36359393, 0.63640607],
       [0.31705632, 0.68294368],
       [0.3736913 , 0.6263087 ],
       [0.27821161, 0.72178839],
       [0.54595771, 0.45404229],
       [0.23523423, 0.76476577],
       [0.21873695, 0.78126305],
       [0.10258617, 0.89741383],
       [0.11748298, 0.88251702],
       [0.03506458, 0.96493542],
       [0.57334935, 0.42665065],
       [0.23973186, 0.76026814],
       [0.34796847, 0.65203153],
       [0.63383783, 0.36616217],
       [0.32998164, 0.67001836],
       [0.2561294 , 0.7438706 ],
       [0.06096968, 0.93903032],
       [0.38209165, 0.61790835],
       [0.09769714, 0.90230286],
       [0.10806027, 0.89193973],
       [0.39546854, 0.60453146],
       [0.3821843 , 0.6178157 ],
       [0.36860684, 0.63139316],
       [0.07685329, 0.92314671],
       [0.38134802, 0.61865198],
       [0.12244955, 0.87755045],
       [0.49301046, 0.50698954],
       [0.16273552, 0.83726448],
       [0.77821169, 0.22178831],
       [0.35503967, 0.64496033],
       [0.19796278, 0.80203722],
       [0.51271938, 0.48728062],
       [0.34307075, 0.65692925],
       [0.58440229, 0.41559771],
       [0.73590975, 0.26409025],
       [0.03701591, 0.96298409],
       [0.40282993, 0.59717007],
       [0.04173564, 0.95826436],
       [0.16160096, 0.83839904],
       [0.3822745 , 0.6177255 ],
       [0.04223056, 0.95776944],
       [0.06936298, 0.93063702],
       [0.31065409, 0.68934591],
       [0.44828165, 0.55171835],
       [0.10012251, 0.89987749],
       [0.08315447, 0.91684553],
       [0.38781771, 0.61218229],
       [0.3647549 , 0.6352451 ],
       [0.04604315, 0.95395685],
       [0.16554966, 0.83445034],
       [0.12693241, 0.87306759],
       [0.35215522, 0.64784478],
       [0.16433998, 0.83566002],
       [0.02946063, 0.97053937],
       [0.0437327 , 0.9562673 ],
       [0.37633876, 0.62366124],
       [0.11140701, 0.88859299],
       [0.59534513, 0.40465487],
       [0.38207463, 0.61792537],
       [0.06085114, 0.93914886],
       [0.10221058, 0.89778942],
       [0.16104049, 0.83895951],
       [0.46889633, 0.53110367],
       [0.11212325, 0.88787675],
       [0.44215872, 0.55784128],
       [0.06997453, 0.93002547],
       [0.06432367, 0.93567633],
       [0.10771853, 0.89228147],
       [0.24399154, 0.75600846],
       [0.29411521, 0.70588479],
       [0.71817839, 0.28182161],
       [0.25561848, 0.74438152],
       [0.51866032, 0.48133968],
       [0.07404936, 0.92595064],
       [0.11935993, 0.88064007],
       [0.35506275, 0.64493725],
       [0.04257108, 0.95742892],
       [0.09068588, 0.90931412],
       [0.15836595, 0.84163405],
       [0.1886322 , 0.8113678 ],
       [0.1614964 , 0.8385036 ],
       [0.12271365, 0.87728635]])

### 5) 검증 : 평가

In [17]:
accuracy_score(y_val, pred   )

0.73

## 40.분류 모델 평가

### 1) Confusion Matrix
https://en.wikipedia.org/wiki/Confusion_matrix

In [18]:
confusion_matrix( y_val, pred)

array([[ 40,  63],
       [ 18, 179]])

### 2) classification_report
* 분류문제 평가지표 종합판
* print 문으로 결과를 출력해야 제대로 보임.

In [19]:
classification_report(y_val, pred)

'              precision    recall  f1-score   support\n\n           0       0.69      0.39      0.50       103\n           1       0.74      0.91      0.82       197\n\n    accuracy                           0.73       300\n   macro avg       0.71      0.65      0.66       300\nweighted avg       0.72      0.73      0.71       300\n'

In [20]:
print(classification_report(y_val, pred))

              precision    recall  f1-score   support

           0       0.69      0.39      0.50       103
           1       0.74      0.91      0.82       197

    accuracy                           0.73       300
   macro avg       0.71      0.65      0.66       300
weighted avg       0.72      0.73      0.71       300

### 3) accuracy_score, precision_score, recall_score, f1_score
* 개별 평가지표 도출
* https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html

In [21]:
precision_score(y_val, pred)

0.7396694214876033

In [22]:
precision_score(y_val, pred, pos_label = 0)

0.6896551724137931

In [23]:
recall_score(y_val, pred)

0.9086294416243654

In [24]:
recall_score(y_val, pred, pos_label = 0)

0.3883495145631068

In [25]:
f1_score(y_val, pred)

0.815489749430524

In [26]:
f1_score(y_val, pred, pos_label = 0)

0.49689440993788825